<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Dtn_ProductIngredient::ingredient" title="Ingredient" module="Dtn_ProductIngredient" translate="title" sortOrder="30" dependsOnModule="Magento_Catalog" resource="Dtn_ProductIngredient::ingredient" action="catalog/ingredient/" parent="Magento_Catalog::inventory"/>
	</menu>
</config>